@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
}

:root {
  --primary-color: #ab9140;
  --secondary-color: #f9c49a;
  --background-color: #fff;
  --card-color: white;
  --header-color: #2e2404;
  --overlay-color: #242b39da;

  --font-inactive: #979797;
  --font-color: #464646;
  --font-light: #ebebeb;

  --element-box-shadow: 0 2px 4px 0 #00000010;
  --border-radius-s: 4px;
  --border-radius-m: 15px;
  --border-radius-l: 25px;
}
img {
  width: 100%;
}
h1,
h3 {
  font-family: "Playfair Display", serif;
  color: var(--header-color);
}
h2 {
  color: var(--font-light);
  font-weight: 400 !important;
}
.box {
  background-color: var(--card-color);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
  padding: 0.7rem;
}
ul {
  padding: 0;
}
ion-input {
  text-align: end;
}
.error {
  text-align: center;
  font-weight: 500;
  color: red;
  margin: 1rem;
}
